<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="cadastro.css">
</head>
<body>
    <div class="Tela-Cadastro">
        <img class="logo" src="logo\Logo_Trembo.png" alt="">
        <h1>Cadastro Usuário</h1>
        <input type="text" placeholder="Nome:">
        <br> <br>
        <input type="text" placeholder="E-mail:">
        <br> <br>
        <input type="password" placeholder="Senha:">
        <br><br>
        <input type="password" placeholder="Confirmar Senha:">
        <br><br>
        <input type="text" placeholder="Cargo:">
        <br><br>
        <button>Cadastrar</button>
    </div>
</body>
</html>