<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro De Produtos</title>
    <link rel="stylesheet" href="cadastroProduto.css">
</head>
<body>
    <div class="Tela-Cadastro-Produto">
        <h1>Cadastro de Produtos</h1>
        <input type="text" placeholder="Nome:">
        <br> <br>
        <input type="text" placeholder="Descrição:">
        <br> <br>
        <input type="text" placeholder="Preço:">
        <br><br>
        <input type="text" placeholder="Qtd estoque:">
        <br><br>
        <input type="text" placeholder="Avaliação: 1-5">
        <br><br>
    

        <label class = "picture" tabindex="0">
            <input type ="file" accept = "image/" id="picture__input" />    
            <span class = "picture__image">SELECIONE A IMAGEM</span>
           </label>
           <br><br>
        
        <button>Salvar</button>
        <br><br>
        <a href="ListaProduto.html"><button>Cancelar</button></a>
    </div>
</body>
</html>