<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>
    <link rel="stylesheet" href="Consulta.css">
</head>
<body>
    <div class="Tela-Consulta">  
        <table>
            <td>
                <img class="logo" src="logo\Logo_Trembo.png" alt="">
            </td>
        </table>    
        <table>
            <td>
                <h1>Consulta</h1>
            </td>
            <td>
                <input class="cmpPesquisa"  type="text" placeholder="Pesquisa">
            </td>
            <td>
                <button class="btn-buscar">Buscar</button>
            </td>
        </table>
      <table>
        <tr>
            <th>NOME</th>
            <th>E-MAIL</th>
            <th>STATUS</th>
            <th>GRUPO</th>
        </tr>
        <td>
            <input type="text" placeholder="Nome:">
        </td>
        <td>
            <input type="text" placeholder="E-mail:">
        </td>
        <td>
            <input type="text" placeholder="Status:">
        </td>
        <td>
            <input type="text" placeholder="Grupo:">
        </td>
      </table>
      <br><br>
        <button>Consultar</button>
    </div>
</body>
</html>