<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações de Compras</title>
    <link rel="stylesheet" href="DetalhesWhey.css">
</head>
<body>
    <header>
    </header>

    <main>
        <div class="compra">
            <h2>Whey Protein - 900G</h2>
            <img src="./Imagens/whey.png" width="200px">
            <p>TN-top-whey-perfor-baunilha
                top-whey-3w-max-titanium-900g-performance-baunilha-3
                top-whey-3w-max-titanium-900g-performance-baunilha-2
                Informamos que passamos recentemente por uma mudança na rotulagem nutricional nos produtos da Max Titanium devido as novas legislações RDC Nº 429/20 e IN Nº75/20 da ANVISA, portanto os lotes mais recentes estão com diferentes caracterizações. Para saber mais clique aqui
                Top Whey 3W + Performance 900G - Max TitaniumBaunilha</p>
            <p>Valor: R$ 158,60</p>
            <p>Avaliação: 4.5 / 5</p>
            <label for="itemRating">Quantidade:</label>
            <input type="number" id="itemRating" name="itemRating" min="0" max="10" step="1" required>
            <br></br>
            <button>COMPRAR</button>
        </div>
        
    </main>
</body>
</html>
