<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações de Compras</title>
    <link rel="stylesheet" href="DetalhesCreatina.css">
</head>
<body>
    <header>
    </header>

    <main>
        <div class="compra">
            <h2>CREATINA MONOHIDRATADA 300G</h2>
            <img src="./Imagens/creatina.jpg.png" width="250px">
            <p>Quimicamente, a creatina monohidratada é chamada de amina, 
            um composto derivado de aminoácidos que pode ser obtido por meio da dieta (alimentos), 
            da síntese feita por nosso próprio organismo ou da suplementação. A creatina suplemento garante uma quantidade excelente desse nutriente
            no seu dia a dia. Isso faz com que o seu corpo tenha todas as necessidades supridas, com toda a energia para crescer e não perder a massa
            muscular conquistada nos treinos.</p>
            <p>Valor: R$ 79,92</p>
            <p>Avaliação: 5 / 5</p>
            <label for="itemRating">Quantidade:</label>
        <input type="number" id="itemRating" name="itemRating" min="0" max="10" step="1" required>
            <br></br>
            <button>COMPRAR</button>
        </div>
    </main>
</body>
</html>
