<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produto</title>
    <link rel="stylesheet" href="ListaProduto.css">
</head>
<body>
    <div class="Tela-Lista-De-Produto">
        <img class="logo" src="logo\Logo_Trembo.png" alt="">
        <h1>Lista de Produto</h1>
        <input type="text" placeholder=" Pesquisar:">
        <button class="Btn-lupa">🔎</button>
        
        <br><br>

      <table>
        <tr>
            <th>NOME</th>
            <th>ID</th>
            <th>QUANTIDADE</th>
            <th>VALOR</th>
            <th>STATUS</th>
        </tr>
        
        <td>
            <input type="text" placeholder="Nome:">
        </td>
        <td>
            <input type="text" placeholder="Id:">
        </td>
        <td>
            <input type="text" placeholder="Quantidade:">
        </td>
        <td>
            <input type="text" placeholder="Valor:">
        </td>
        <td>
            <input type="text" placeholder="Status:">
        </td>
      </table>
      <br><br>

        <button class="Btn-Consultar">Consultar</button>
        <br><br>
        <a href="cadastroProduto.html"><button class="Btn-mais">+</button></a>
    </div>
</body>
</html>