
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, black, red);
    background-repeat: no-repeat;
    min-height: 100vh; 
}

div{
background-color: rgba(0, 0, 0, 0.8);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
padding: 80px;
border-radius: 15px;
color: white;

}

input{
    padding: 10px;
    border: none;
    outline: 15px;
    font-size: 15px;

}

button{
background-color: grey;
border: none;
padding: 15px;
width: 100%;
border-radius: 10px;
color: black;
font-size: 15px;
}

button:hover{
    background-color: red;
}

.logo{
    max-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    float:right
}
