<!DOCTYPE html>
<html lang="pt-br  ">
<head>
    <title>Tela Principal</title>
    <link rel="stylesheet" href="TelaPrincipal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="logo">
            <img src="" alt="Logo">
        </div>

        <div class="pesquisa">
            <input type="text" placeholder="Pesquisar: ">
            <button class="btn-pesquisa">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <div class="servicos">
                <a href="login.html">
                    <button class="login">
                        <i class="fa-regular fa-user"></i>
                        Entrar
                    </button>
                </a>

            <button class="compras">
                <i class="fa-solid fa-cart-shopping"></i>
            </button>
        </div>
    </header>

    <div class="card">
        <div class="whey">
            <img src="./Imagens/whey.png" width="140px">
            <h1>Whey Protein</h1>
            <h2>Whey chocolate 900g</h2>
            <span>R$ 158,60</span>
            <a href="DetalhesWhey.html"><button>Saiba Mais</button></a>
        </div>

        <div class="creatina">
            <img src="./Imagens/creatina.jpg.png" width="140px">
            <h1>Creatina</h1>
            <h2>monohidratada 300g</h2>
            <span>R$ 79,92</span>
            <a href="DetalhesCreatina.html"><button>Saiba Mais</button></a>
        </div>
    </div>

    
</body>
</html>