*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: "Arial";
    gap: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg, black, red);
    background-repeat: no-repeat;
    min-height: 100vh; 
}

header{
    display: flex;
    justify-content: space-between;
    padding: 12px 10px;
    align-items: center;
}

header .servicos{
    display: flex;
    gap: 10px;
}

header .pesquisa input{
    margin-right: 10px;
    width: 700px;
    height: 35px;
    font-size: 15px;
    padding-left: 5px;
    outline: none;
    border: none;
    
}

header .pesquisa .btn-pesquisa{
    width: 50px;
    background-color: transparent;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    height: 50%;
}

.card .whey{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 200px;
    padding: 20px 15px;
}

.card .creatina{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px ;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 200px;
    padding: 20px 15px;
}

.card h1{
    font-size: 1.2rem;
    color: #aaaa;
}

.card h2{
    font-size: .9rem;
    color: #aaaa;

}

span{
    font-size: .9rem;
    color: #aaaa;
}

button{
    background-color: grey;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    }