<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="Tela-Cadastro">
        <h1>Cadastro</h1>
        <input type="text" placeholder="Nome:">
        <br> <br>
        <input type="text" placeholder="E-mail:">
        <br> <br>
        <input type="password" placeholder="Senha:">
        <br><br>
        <input type="text" placeholder="Cargo:">
        <br><br>
        <label for="status">Status:</label>
        <br><br>
        <input type="radio" name="Status" required>
        <label for="Status">Ativo</label>
        <br><br>
        <input type="radio" name="Status" required>
        <label for="Status">Inativo</label>
        <br><br>
        <button>Cadastrar</button>
    </div>
</body>
</html>